.shelf {
  cursor: pointer;

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &__row {
    &--active {
      background: #7373af;
      color: white;
    }
  }

  &__cell, &__head-item {
    border: 1px solid lightgray;
    padding: 0.4rem 0.5rem;
  }

  &__head-item, &__cell--index {
    background: #eee;
  }

  &__cell--index {
    text-align: right;
  }
}
